<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
 	
 	<!-- 配置了Service层和Mapper层的Bean -->
 	
 	<context:component-scan base-package="com.ly.um.service" />
    
    <!-- 数据源  连接池  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/boot_crm?serverTimezone=GMT%2B8"/>
		<property name="username" value="root"/>
		<property name="password" value="1234"/>
 	</bean>    
 	
 	
    <!-- Mybatis 和  spring的整合java， 创建SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource"  ref="dataSource"></property>
    	<property name="typeAliasesPackage" value="com.ly.um.entity"/>
		<property name="mapperLocations" value="classpath*:com.ly.um.mapper/*.xml"/>
    </bean>
    <!-- Mapper变成Spring Bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="com.ly.um.mapper"></property>
    </bean>    
</beans>
